.header,
.nav {
    display: flex;
    background-color: var(--main-color);
}

.header {
    position: sticky;
    align-items: center;
    justify-content: space-between;
    inset: 0 0 auto 0;
    border-bottom: solid var(--accent-color) 2px;
    transition: transform 0.35s ease;
    overflow: hidden;
    z-index: 100;
}

.logo {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1rem;
    margin-left: 3.25rem;
}

.hamburger {
    --hamburger-color: var(--accent-color);
    display: none;
    margin-left: auto;
    z-index: 999;
}

.nav {
    gap: 2rem;
}

.nav a {
    font-size: 1.25rem;
    font-weight: 600;
}

@media (max-width: 50rem) {
    .header[data-visible="false"]{ 
        transform: translateY(-100%);
    }

    .hamburger {
        display: block;
    }

    .nav {
        position: fixed;
        flex-direction: column;
        inset: 0 0 0 auto;
        width: min(70%, 22rem);
        transform: translateX(100%);
        padding: min(30vh, 10rem) 2rem;
        border-left: 2px solid var(--accent-color);
        transition: transform 0.45s ease, box-shadow 0.8s ease-out;
    }

    .nav[data-visible="true"] {
        transform: none;
        box-shadow: -0.75rem 0 4rem 0 rgba(0, 0, 0, 0.265);
    }
}

@media screen and (min-width: 50rem) {
    .nav {
        padding: 1rem clamp(1rem, 9vw, 10rem);
    }
}