.header,
.nav {
    display: flex;
    background: rgb(255, 255, 255);
}

.header {
    z-index: 100;
    overflow: hidden;
    position: sticky;
    inset: 0 0 auto 0;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid steelblue 2px;
    transition: transform 0.35s ease;
}

.logo {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 1rem;
    margin-left: 3.25rem;
}

.navToggle {
    --hamburger-color: steelblue;
    display: none;
}

.nav {
    gap: 2rem;

}

.nav a {
    font-size: 1.25rem;
    font-weight: 600;
}

@media (max-width: 50rem) {
    .header[data-visible="false"]{
        transform: translateY(-100%);
    }

    .navToggle {
        display: block;
        margin-left: auto;
        z-index: 999;
    }

    .nav {
        position: fixed;
        inset: 0 0 0 auto;
        width: min(70%, 22rem);
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        transform: translateX(100%);
        transition: transform .65s ease;
        border-left: 2px solid steelblue;
    }

    .nav[data-visible="true"] {
        transform: translateX(0%);
    }
}

@media screen and (min-width: 50rem) {
    .nav {
        padding: 1rem clamp(1rem, 9vw, 10rem);
    }
}