.hamburger{
    background:none;
    border: none;
}
.hamburger svg{
    transition: 1s;
    stroke-width: 6px;
}
.hamburger[aria-expanded="true"] svg{
    rotate: -.125turn;
    transform: translate(5px, 6px);
}
.hamburger path{
    transition:0.8s ease-in-out;
    stroke-dasharray: 79 30 78.5 1000;
}
.hamburger[aria-expanded="true"] path{
    stroke-dasharray: 40 328 40;
    stroke-dashoffset: -12;
}