.chartsContainer {
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
}

.chartsContainer .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 4rem;
    left: 0;
    flex: 1;
    padding-bottom: 2.5rem;
    min-height: fit-content;
    max-height: calc(100vh - 4rem);
    align-items: center;
}

.chartsContainer .charts {
    min-width: 820px;
    flex: 1 1 72%;
}

@media screen and (min-width: 800px) {
    .chartsContainer {
        overflow-x: visible;
    }
}