:root{
  --accent-color: steelblue;
  --main-color: white;
  --shadow-color: 
}

/*General*/
body{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: var(--accent-color);
  background-color: var(--main-color);
}
h2{
  font-size: 2.5rem;
}